<div>
    <form class="form" [formGroup]="profileForm" *ngIf="profileObs | async as profile">

        <div class="row">
            <!-- Username -->
            <span class="form-group is-empty col-md-6">
                <label for="id_username" class="control-label">Username</label>
                <input id="id_username"name="username" type="text"
                    class="form-control input-md" formControlName="username">
                <span class="help-block"> Your registered username </span>
                <span class="material-input"></span>
            </span>

            <!-- Email -->
            <span class="form-group is-empty col-md-6">
                <label for="id_email" class="control-label">Email</label>
                <input id="id_email" name="email" type="text" disabled
                    class="form-control input-md" formControlName="email">
                <span class="help-block"> Your e-mail address. </span>
                <span class="material-input"></span>
            </span>
        </div>

        <div class="row">
            <!-- Firstname -->
            <span class="form-group is-empty col-md-6">
                <label for="id_firstname" class="control-label">First Name</label>
                <input id="id_firstname" name="firstname" type="text" disabled
                    class="form-control input-md" formControlName="first_name">
                <span class="help-block"> First name </span>
                <span class="material-input"></span>
            </span>

            <!-- Lastname -->
            <span class="form-group is-empty col-md-6">
                <label for="id_lastname" class="control-label">Last Name</label>
                <input id="id_lastname" name="lastname" type="text" disabled
                    class="form-control input-md" formControlName="last_name">
                <span class="help-block"> Last name </span>
                <span class="material-input"></span>
            </span>
        </div>

        <clui-api-token-editor [profile]="profile"></clui-api-token-editor>

        <p class="lead" style="padding-top: 10px">
            Below is a list of credentials you have saved in your
            profile, if any. These credentials are stored encrypted in the
            database on this server and only you can access them.
        </p>

        <clui-cloud-credentials-viewer [profile]="profile" (credentialsChanged)="profileChanged.next(null)"></clui-cloud-credentials-viewer>

    </form>
</div>
