<td><img src="{{ deployment.app_version_details?.application?.icon_url }}"  style="max-width: 64px; max-height: 64px;" /></td>
<td>
    <p><strong>{{ deployment.name }}</strong></p>
    <p>
    <span class="col-xs-12 col-md-6">
        <span class="text-muted">Appliance:</span> {{ deployment.app_version_details?.application?.name }}
    </span>
    <span class="col-xs-12 col-md-6">
        <span class="text-muted">Version:</span> {{ deployment.app_version_details?.version }}
    </span><br />
    <span class="col-xs-12 col-md-12">
        <span class="text-muted">Cloud:</span> {{ deployment.target_cloud }}
    </span>
    <span class="col-xs-12 col-md-12" *ngIf="defaultCreds | async as credentials">
        <span class="text-muted">Credentials:</span> {{ credentials.name }}
    </span>
    </p>
    <div *ngIf=deployment.launch_task?.result?.cloudLaunch?.keyPair?.material>
        <p class="text-info" style="padding-top: 25px;">
            A new SSH key pair was created when this instance
            was launched. The key will be available for
            retrieval only here for up to one hour after the
            instance was launched.
            <a target="_blank" download="private_key.txt"
            [href]="getKPDownloadLink(deployment.launch_task?.result?.cloudLaunch?.keyPair?.material)"> Download the key</a> and
            keep it secure.
        </p>
    </div>
</td>
<td>{{ calculateUptime(deployment, currentTimer | async) }} ago</td>
<td class="text-left">
    <div [ngSwitch]="deployment.latest_task?.action">
        <clui-launch-task-status *ngSwitchCase="'LAUNCH'" [task]="deployment.latest_task" hasCredentials="!!(defaultCreds | async)"></clui-launch-task-status>
        <clui-delete-task-status *ngSwitchCase="'DELETE'" [task]="deployment.latest_task"></clui-delete-task-status>
        <clui-health-check-task-status *ngSwitchDefault [task]="deployment.latest_task"></clui-health-check-task-status>
    </div>
</td>
<td>
    <span *ngIf="deployment.latest_task?.status == 'SUCCESS' &&
                 deployment.latest_task?.action !== 'DELETE' &&
                 deployment.latest_task?.result?.instance_status !== 'unknown' &&
                 deployment.latest_task?.result?.instance_status !== 'deleted'; else dimBlock">
        <a *ngIf="deployment.launch_task?.result?.cloudLaunch?.applicationURL?.length; else ipBlock"
         class="btn-link" href="{{ deployment.launch_task?.result?.cloudLaunch?.applicationURL }}" target="_blank">
            <span>{{ deployment.launch_task?.result?.cloudLaunch?.applicationURL }}</span>
        </a>
        <ng-template #ipBlock>
            <span>{{ deployment.launch_task?.result?.cloudLaunch?.publicIP }}</span>
        </ng-template>
    </span>
    <ng-template #dimBlock>
        <span class="dim">{{ deployment.launch_task?.result?.cloudLaunch?.applicationURL || deployment.launch_task?.result?.cloudLaunch?.publicIP }}</span>
    </ng-template>
    <button *ngIf="deployment.launch_task?.result?.cloudLaunch?.applicationURL || deployment.launch_task?.result?.cloudLaunch?.publicIP"
     class="btn btn-secondary pill" style="margin: 0 5px" type="button"
     ngxClipboard cbContent="{{ deployment.launch_task?.result?.cloudLaunch?.applicationURL || deployment.launch_task?.result?.cloudLaunch?.publicIP }}"
     matTooltip="Copy access address to clipboard">
        <i class="fa fa-copy"></i>
   </button>
</td>
<td>
  <div class="btn-group" style="margin-top: 0px" role="group" aria-label="Actions">
    <button *ngIf="defaultCreds | async as credentials" class="btn btn-secondary pill" type="button" (click)="runTask(deployment, 'HEALTH_CHECK')" [disabled]="isLatestTaskRunning()" matTooltip="Run Health Check">
        <i class="fa fa-refresh"></i>
    </button>
    <button type="button" class="btn btn-secondary pill" (click)="openArchiveConfirmDialog(deployment)" [disabled]="isLatestTaskRunning()" matTooltip="Archive/Delete">
        <i class="fa fa-trash"></i>
    </button>
  </div>
</td>
