<td><img src="{{ deployment.app_version_details?.application?.icon_url }}"  style="max-width: 64px; max-height: 64px;" /></td>
<td>
    <p><strong>{{ deployment.name }}</strong></p>
    <p>
    <span class="col-xs-12 col-md-6">
        <span class="text-muted">Appliance:</span> {{ deployment.app_version_details?.application?.name }}
    </span>
    <span class="col-xs-12 col-md-6">
        <span class="text-muted">Version:</span> {{ deployment.app_version_details?.version }}
    </span><br />
    <span class="col-xs-12 col-md-12">
        <span class="text-muted">Cloud:</span> {{ deployment.target_cloud }}
    </span>
    <span class="col-xs-12 col-md-12" *ngIf="credentials">
        <span class="text-muted">Credentials:</span> {{ credentials.name }}
    </span>
    </p>
    <div *ngIf=launchTask?.result?.cloudLaunch?.keyPair?.material>
        <p class="text-info" style="padding-top: 25px;">
            A new SSH key pair was created when this instance
            was launched. The key will be available for
            retrieval only here for up to one hour after the
            instance was launched. <a #kpLink
            target="_blank" download="kp.txt"
            (click)="getKP(deployment)"> Download the key</a> and
            keep it secure.
        </p>
    </div>
</td>
<td class="infodata">{{ calculateUptime(deployment, currentTimer | async) }} ago</td>
<td class="text-left infodata">
    <div [ngSwitch]="deployment.latest_task?.action">
        <launch-task-status-renderer *ngSwitchCase="'LAUNCH'" [task]="deployment.latest_task" hasCredentials="!!credentials"></launch-task-status-renderer>
        <health-check-task-status-renderer *ngSwitchDefault [task]="deployment.latest_task" hasCredentials="!!credentials"></health-check-task-status-renderer>
    </div>
</td>
<td *ngIf="launchTask?.result?.cloudLaunch?.applicationURL" class="infodata">
  <div [ngSwitch]="deployment.latest_task?.result?.instance_status">
    <span *ngSwitchCase="'running'">
      <a class="btn-link" href="{{ launchTask?.result?.cloudLaunch?.applicationURL }}" target="_blank">
          <span #inputTarget>{{ launchTask?.result?.cloudLaunch?.applicationURL }}</span>
      </a>
    </span>

    <span *ngSwitchDefault class="dim" #inputTarget>{{ launchTask?.result?.cloudLaunch?.applicationURL }}</span>
  </div>
</td>
<td *ngIf="!launchTask?.result?.cloudLaunch?.applicationURL">
    <a class="btn-link" href="{{ launchTask?.result?.cloudLaunch?.publicIP }}" target="_blank">
        <span #inputTarget>{{ launchTask?.result?.cloudLaunch?.publicIP }}</span>
    </a>
    <br/><button *ngIf=launchTask?.result?.cloudLaunch?.publicIP class="btn btn-sm" type="button" [ngxClipboard]="inputTarget">Copy URL</button>
</td>
<td>
  <div class="btn-group" role="group" aria-label="Actions">
    <button *ngIf=launchTask?.result?.cloudLaunch?.publicIP class="btn btn-secondary pill" type="button" [ngxClipboard]="inputTarget">
      <i class="fa fa-copy"></i>
    </button>
    <button *ngIf="credentials" class="btn btn-secondary pill" type="button" (click)="runTask(deployment, 'HEALTH_CHECK')" [disabled]="isLatestTaskRunning">
        <i class="fa fa-refresh"></i>
    </button>
    <button type="button" class="btn btn-secondary pill" (click)="openArchiveConfirmDialog(deployment)" [disabled]="isLatestTaskRunning">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</td>

