<td><img src="{{ deployment.app_version_details?.application?.icon_url }}"  style="max-width: 64px; max-height: 64px;" /></td>
<td>
    <p><strong>{{ deployment.name }}</strong></p>
    <p>
    <span class="col-xs-12 col-md-6">
        <span class="text-muted">Appliance:</span> {{ deployment.app_version_details?.application?.name }}
    </span>
    <span class="col-xs-12 col-md-6">
        <span class="text-muted">Version:</span> {{ deployment.app_version_details?.version }}
    </span><br />
    <span class="col-xs-12 col-md-12">
        <span class="text-muted">Cloud:</span> {{ deployment.target_cloud }}
    </span>
    <span class="col-xs-12 col-md-12" *ngIf="credentials">
        <span class="text-muted">Credentials:</span> {{ credentials.name }}
    </span>
    </p>
    <div *ngIf=deployment.latest_task?.result?.cloudLaunch?.keyPair?.material>
        <p class="text-info" style="padding-top: 25px;">
            A new SSH key pair was created when this instance
            was launched. The key will be available for
            retrieval only here for up to one hour after the
            instance was launched. <a #kpLink
            target="_blank" download="kp.txt"
            (click)="getKP(deployment)"> Download the key</a> and
            keep it secure.
        </p>
    </div>
</td>
<td class="text-left">
    <div [ngSwitch]="deployment.latest_task?.action">
        <launch-task-status-renderer *ngSwitchCase="'LAUNCH'" [task]="deployment.latest_task" hasCredentials="!!credentials"></launch-task-status-renderer>
        <health-check-task-status-renderer *ngSwitchCase="'HEALTH_CHECK'" [task]="deployment.latest_task" hasCredentials="!!credentials"></health-check-task-status-renderer>
    </div>
</td>
<td>{{ calculateUptime(deployment, currentTimer | async) }} ago</td>
<td *ngIf="deployment.latest_task?.result?.cloudLaunch?.applicationURL">
    <a class="btn-link" href="{{ deployment.latest_task?.result?.cloudLaunch?.applicationURL }}" target="_blank">
        <span #inputTarget>{{ deployment.latest_task?.result?.cloudLaunch?.applicationURL }}</span>
    </a>
    <br/><button *ngIf=deployment.latest_task?.result?.cloudLaunch?.publicIP class="btn btn-sm" type="button" [ngxClipboard]="inputTarget">Copy URL</button>
</td>
<td *ngIf="!deployment.latest_task?.result?.cloudLaunch?.applicationURL">
    <a class="btn-link" href="{{ deployment.latest_task?.result?.cloudLaunch?.publicIP }}" target="_blank">
        <span #inputTarget>{{ deployment.latest_task?.result?.cloudLaunch?.publicIP }}</span>
    </a>
    <br/><button *ngIf=deployment.latest_task?.result?.cloudLaunch?.publicIP class="btn btn-sm" type="button" [ngxClipboard]="inputTarget">Copy URL</button>
</td>
<td>
    <!-- TODO: set a flag in the UI component to disable this button as soon as it is clicked, but we'll wait until the refactor into a separate component -->
    <button class="btn btn-info" type="button" (click)="runHealthCheckTask(deployment)" [disabled]="isLatestTaskRunning(deployment)">
        <i class="fa fa-refresh"></i> Refresh Status
    </button>
</td>
