<div>
    <div class="form" [formGroup]="gceCredentialsForm">

        <!-- Credentials -->
        <div class="form-group is-empty"
         [ngClass]="{'has-error': '!credentials.valid'}">
            <label for="id_credentials" class="control-label">GCE Credentials</label>
            <textarea id="id_credentials" name="credentials" class="form-control input-md" formControlName="credentials" rows="12"></textarea>
            <span class="help-block"> Copy your GCE credentials json file into this field, or use the upload button above.</span>
            <span class="material-input"></span>
        </div>
    </div>
</div>
