<config-panel>
   <panel-header>Cloud Launch Settings</panel-header>
   <panel-body>
      <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

      <div class="form-group">
         <label for="id_target_cloud" class="control-label">
            On which cloud would you like to launch your appliance?
         </label>
         <ng-select id="target_cloud"
            [items]="clouds"
            (selected)="onCloudSelect($event)"
            placeholder="No cloud selected">
         </ng-select>
      </div>

      <div class="form-group">
         <label for="id_instance_type" class="control-label">
            What type of virtual hardware would you like to use?
         </label>
         <ng-select id="id_instance_type"  [items]="instanceTypes"
         [disabled]="selectedCloud"
         [placeholder]="instanceTypeHelp">
         </ng-select>
      </div>

   </panel-body>
</config-panel>
