<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
          <a href="javascript:void(0)" class="btn btn-primary btn-raised">{{ cloudName }}</a>
          <a href="bootstrap-elements.html" data-target="#" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">AWS</a></li>
            <li><a href="javascript:void(0)">NeCTAR</a></li>
            <li><a href="javascript:void(0)">Jetstream</a></li>
            <li><a href="javascript:void(0)">Chameleon</a></li>
          </ul>
        </div>
    </div>

    <div class="col-md-6">
        <p class="lead pull-right">Infrastructure Dashboard</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Services</div>
            <div class="panel-body">
                Compute
                ...
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">Resources</div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Column heading</th>
                            <th>Column heading</th>
                            <th>Column heading</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>
                                <a href="javascript:void(0)">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="javascript:void(0)">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a href="javascript:void(0)" class="btn btn-info btn-fab cl-fab">
    <i class="material-icons">add</i>
</a>
