<div>
    <div class="form" [formGroup]="credentialsForm">

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            <span class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"></span> <span class="sr-only">Error:</span> {{ errorMessage }}
        </div>

        <!-- Cloud -->
        <div class="form-group" *ngIf="allowCloudChange">
            <label for="id_cloud" class="control-label"> Specify which cloud these
                credentials are for </label>
            <ng-select id="creds_cloud" [items]="availableClouds" [active]="getSelectedCloud()"
                (selected)="onCloudSelect($event)" placeholder="No cloud selected"> </ng-select>
        </div>

        <ng-container *ngIf="cloud?.cloud_type && (!saveIsOptional || !useCredsIsPressed) && !saveIsPressed">
            <p>
                You can manually enter the required credentials in the form
                below or by uploading a text file from your computer.
                <i class="fa" [ngClass]="{'fa-toggle-down': !moreInfo,
                 'fa-toggle-up': moreCredsInfo}" (click)="toggleCredsInfo()"
                 style="cursor: pointer;"></i>
            </p>
            <div *ngIf="moreCredsInfo">
                <p class="top-margin">
                    The required values represent credentials allowing
                    programmatic  access to the selected cloud and need to be
                    obtained directly from the cloud provider. If uploading a
                    file with the  credentials, the file needs to be formatted
                    as follows:<br/>
                    <span class="text-muted"><em>VARIABLE: value</em></span><br/>
                    or<br/>
                    <span class="text-muted"><em>export VARIABLE=value</em></span><br/>
                    <ng-container *ngIf="cloud.cloud_type === 'openstack'">
                        The following variables need to be defined
                        in this file: OS_PROJECT_NAME, OS_TENANT_NAME,
                        OS_USERNAME, OS_PASSWORD, OS_USER_DOMAIN_NAME, and
                        OS_PROJECT_DOMAIN_NAME.
                    </ng-container>
                    <ng-container *ngIf="cloud.cloud_type === 'aws'">
                        The following variables need to be defined in this
                        file: ACCESS_KEY and SECRET_KEY.
                    </ng-container>
                </p>
            </div>
            <button class="btn btn-info" type="button" (click)="creds_file.click()" [disabled]="credVerificationInProgress">
                <i class="fa fa-file-text"></i> Load credentials from file
            </button>
        </ng-container>

        <div *ngIf="cloud" [ngSwitch]="cloud.cloud_type">
            <openstack-cred-editor *ngSwitchCase="'openstack'" [formControl]="ctrl_openstack_creds" [cloud]="cloud"></openstack-cred-editor>
            <aws-cred-editor *ngSwitchCase="'aws'" [formControl]="ctrl_aws_creds"></aws-cred-editor>
        </div>

        <div class="form-group">
            <input #creds_file id="id_credential_file" name="credential_file" type="file" (change)="loadCredentialsFromFile($event)">
        </div>

        <ng-container *ngIf="!saveIsOptional || saveIsPressed">
            <!-- Name -->
            <div class="form-group is-empty"
             [ngClass]="{'has-error': '!ctrl_name.valid'}">
                <label for="id_name" class="control-label">Name for this set of credentials</label> <input id="id_name"
                    name="name" type="text" class="form-control input-md" formControlName="name">
                <span class="help-block"> A name to identify this set of credentials </span>
                <span class="material-input"></span>
            </div>

            <!-- Set Default -->
            <div class="form-group is-empty">
                <label for="id_default" class="control-label">Set as Default for this Cloud</label>
                <div class="checkbox">
                    <label> <input id="id_default" name="default" type="checkbox"
                        formControlName="default" />
                    </label>
                </div>
                <span class="help-block"> Use these credentials as the default for this cloud
                </span>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <div class="alert alert-danger">
                    Saved credentials are provided as a convenience feature, use at your own risk! We advise against using this feature for mission critical
                    infrastructure. If security is a significant concern, you should use temporary credentials, which are not stored on the
                    CloudLaunch server.
                    <div class="checkbox">
                        <label><input type="checkbox" formControlName="credential_terms"> I accept the risks and want to save anyway</label>
                    </div>
                </div>
            </div>

            <button class="btn btn-info" type="button" (click)="cancelEdit()" [disabled]="credVerificationInProgress">
                <i class="fa fa-cancel"></i> Cancel
            </button>
            <button class="btn btn-info btn-raised" type="button" (click)="saveEdit()" [disabled]="!credentialsForm.valid || credVerificationInProgress">
                <i class="fa fa-disk"></i> Save
                <span *ngIf="credVerificationInProgress" class="fa fa fa-spinner fa-spin fa-fw"></span>
            </button>
        </ng-container>

        <ng-container *ngIf="saveIsOptional && !saveIsPressed">
            <ng-container *ngIf="useCredsIsPressed">
                <button class="btn btn-info" type="button" (click)="cancelUseCredentials(this)" [disabled]="credentialsForm.valid || credVerificationInProgress">
                    <i class="fa fa-pencil-square-o"></i> Edit these credentials
                </button>
            </ng-container>
            <ng-container *ngIf="!useCredsIsPressed">
                <button class="btn btn-raised btn-info" type="button" (click)="useCredentials()" [disabled]="!credentialsForm.valid || credVerificationInProgress">
                    <i class="fa fa-check"></i> Test and use these credentials
                    <span *ngIf="credVerificationInProgress" class="fa fa fa-spinner fa-spin fa-fw"></span>
                </button>
            </ng-container>
            <button class="btn btn-info pull-right" type="button" (click)="setSaveIsPressed()" [disabled]="!credentialsForm.valid || credVerificationInProgress">
                <i class="fa fa-floppy-o"></i> Save to profile
            </button>
        </ng-container>
    </div>
</div>
