<div [formGroup]="form" class="form-group">
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

    <!-- Instance type selection -->
    <div class="full-width-container">
        <mat-form-field>
            <mat-select id="id_instance_type" [formControl]="instTypeCtrl">
                <mat-option *ngFor="let instType of instanceTypes" [value]="instType.name">{{ instType.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="instTypeCtrl.hasError('required')">Instance type is <strong>required</strong></mat-error>
            <mat-placeholder><i *ngIf="instanceTypeHelp.includes('Retrieving')" class="fa fa-spinner fa-spin fa-fw"></i>
                {{ instanceTypeHelp }}</mat-placeholder>
        </mat-form-field>
    </div>

    <div class="form-group label-floating is-empty">
        <mat-slide-toggle (change)="toggleAdvanced()">Advanced cloud launch options</mat-slide-toggle>
    </div>

    <div *ngIf="showAdvanced">
        <!-- Root volume type selection -->
        <div class="form-group full-width-container">
            <label>Root Volume Storage</label>
            <mat-radio-group class="radio-group-vertical" [formControl]="rootStorageTypeCtrl">
                <mat-radio-button value="instance">Instance Storage</mat-radio-button>
                <mat-radio-button value="volume">Volume Storage</mat-radio-button>
            </mat-radio-group>
       </div>

       <!-- Root storage size -->
       <div class="full-width-container" *ngIf="rootStorageTypeCtrl.value=='volume'">
          <mat-form-field class="full-width-container">
              <input matInput type="number" placeholder="How large should the root volume be?" formControlName="rootStorageSize" />
              <mat-hint>Size (in GB)</mat-hint>
          </mat-form-field>
       </div>

        <!-- Placement selection -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <mat-select id="id_placement"
                    [formControl]="placementCtrl">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let placement of placements" [value]="placement.id">
                        {{ placement.name }}
                    </mat-option>
                </mat-select>
                <mat-placeholder><i *ngIf="placementHelp.includes('Retrieving')" class="fa fa-spinner fa-spin fa-fw"></i>
                    {{ placementHelp }}</mat-placeholder>
            </mat-form-field>
        </div>

        <!-- Key pair selection -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <mat-select id="id_keypair"
                    [formControl]="keypairCtrl">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let kp of keypairs" [value]="kp.id">
                        {{ kp.name }}
                    </mat-option>
                </mat-select>
                <mat-placeholder><i *ngIf="keypairsHelp.includes('Retrieving')" class="fa fa-spinner fa-spin fa-fw"></i>
                    {{ keypairsHelp }}</mat-placeholder>
            </mat-form-field>
        </div>

        <!-- Network selection -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <mat-select id="id_network"
                    [formControl]="networkCtrl">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let net of networks" [value]="net.id">
                        {{ net.name }}
                    </mat-option>
                </mat-select>
                <mat-placeholder><i *ngIf="networksHelp.includes('Retrieving')" class="fa fa-spinner fa-spin fa-fw"></i>
                    {{ networksHelp }}</mat-placeholder>
            </mat-form-field>
        </div>
        <!-- Subnet selection -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <mat-select id="id_subnet"
                    [formControl]="subnetCtrl">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let subnet of subnets" [value]="subnet.id">
                        {{ subnet.name }}
                    </mat-option>
                </mat-select>
                <mat-placeholder><i *ngIf="subnetsHelp.includes('Retrieving')" class="fa fa-spinner fa-spin fa-fw"></i>
                    {{ subnetsHelp }}</mat-placeholder>
            </mat-form-field>
        </div>

        <!-- Static IP selection -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <mat-select id="id_floating_ip"
                    [formControl]="staticIpCtrl">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let ip of staticIPs" [value]="ip.id">
                        {{ ip.name }}
                    </mat-option>
                </mat-select>
                <mat-placeholder><i *ngIf="staticIPHelp.includes('Retrieving')" class="fa fa-spinner fa-spin fa-fw"></i>
                    {{ staticIPHelp }}</mat-placeholder>
            </mat-form-field>
        </div>

          <!-- Custom Image ID -->
          <div class="form-group full-width-container">
                <mat-form-field>
                    <input id="id_custom_image" matInput type="text"
                        placeholder="Custom Image ID"
                        formControlName="customImageID" />
                    <mat-hint>A custom image ID if you want to override the preconfigured Image ID</mat-hint>
                </mat-form-field>
          </div>

        <ng-container *ngIf="cloud?.cloud_type === 'aws'" formGroupName="provider_settings">
            <!-- EBS optimized selection (AWS only) -->
            <div class="form-group full-width-container">
                <mat-checkbox name="ebs_optimized" formControlName="ebsOptimised" matTooltip="If checked, use dedicated disk bandwidth (i.e., EBS-optimized)">
                    EBS Optimized
                </mat-checkbox>
            </div>

            <!-- Volume IOPS selection (AWS only) -->
            <!--  Add *ngIf="storageType=='volume'" once variable is propagated -->
            <div class="form-group full-width-container">
                <mat-form-field>
                    <input matInput type="number" placeholder="Volume IOPS" formControlName="volumeIOPS" />
                    <mat-hint>Min: 100; max: 20000; max 30:1 IOPS to size ratio</mat-hint>
                </mat-form-field>
            </div>
        </ng-container>
    </div>
</div>
