<div class="form">
    <clui-aws-cred-viewer *ngIf="profile" [credentials]="getCredentials('AWSCredentials')" (credentialsChanged)="handleCredentialsChanged($event)"></clui-aws-cred-viewer>
    <clui-openstack-cred-viewer *ngIf="profile" [credentials]="getCredentials('OpenStackCredentials')" (credentialsChanged)="handleCredentialsChanged($event)"></clui-openstack-cred-viewer>
    <clui-azure-cred-viewer *ngIf="profile" [credentials]="getCredentials('AzureCredentials')" (credentialsChanged)="handleCredentialsChanged($event)"></clui-azure-cred-viewer>
    <clui-gce-cred-viewer *ngIf="profile" [credentials]="getCredentials('GCPCredentials')" (credentialsChanged)="handleCredentialsChanged($event)"></clui-gce-cred-viewer>
</div>
