<div class="form">
    <clui-aws-cred-viewer *ngIf="profile" [credentials]="profile.aws_creds" (credentialsChanged)="handleCredentialsChanged($event)"></clui-aws-cred-viewer>
    <clui-openstack-cred-viewer *ngIf="profile" [credentials]="profile.openstack_creds" (credentialsChanged)="handleCredentialsChanged($event)"></clui-openstack-cred-viewer>
    <clui-azure-cred-viewer *ngIf="profile" [credentials]="profile.azure_creds" (credentialsChanged)="handleCredentialsChanged($event)"></clui-azure-cred-viewer>
</div>
