<div class="row">
    <div class="row-height">
        <div class="col-lg-6 col-md-6 col-height">
            <ul class="list-group">
                <ng-container *ngFor="let app of apps">
                	<li class="list-group-item" [routerLink]="['appliance', app.slug]" (mouseenter)="currentApp = app">
                        <div class="row-action-primary cl-app-badge">
                		  <img class="circle" src="{{ app.icon_url }}" alt="Logo">
                        </div>
                		<div class="row-content">
                		    <h4 class="list-group-item-heading">{{ app.name }}</h4>
                			<p class="list-group-item-text">{{ app.summary }}</p>
                        </div>
                	</li>
                    <div class="list-group-separator"></div>
                </ng-container>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-height">
            <div class="panel panel-info full-height" *ngIf="currentApp">
                <div class="panel-heading">{{ currentApp.name }}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ currentApp.description }}
                            <br /><br />
                        </div>
                        <div class="col-md-12">
                            <span class="text-muted">Maintainer:</span> {{ currentApp.maintainer }}
                        </div>
                        <div class="col-md-12">
                            <span class="text-muted">Support URL:</span> <a href="{{ currentApp.info_url }}"> {{ currentApp.info_url }}</a>
                        </div>
                        <div class="col-md-12">
                            <span class="text-muted">Added:</span> <a href="{{ currentApp.added }}"> {{ currentApp.added | date }}</a>
                        </div>
                        <div class="col-md-12 bottom-align">
                            <img class="banner-image pull-right" src="{{ currentApp.icon_url }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-height" *ngIf="!currentApp" style="padding-top: 95px;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p class="lead" style="text-align: justify;">
                        This website allows you to create, monitor and access a
                        range of applications and services. We call these
                        appliances. You can create new appliances on a range of
                        cloud computing infrastructures and monitor their
                        status. You can also directly access public appliances
                        that others have made freely available, irrespective if
                        they use cloud resources or not. Throughout the page,
                        click the <i class="fa fa-toggle-down" aria-hidden="true"></i>
                        icon to show detailed help.
                    </p>
                    <p class="lead" style="text-align: justify;">
                        Click on any appliance listed on the left to proceed,
                        or access public appliances from the link at the top.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
