.cl-app-badge {
	padding: 10px;
	height: 90px;
	vertical-align: middle;
}

.list-group-item {
    cursor: pointer;
	
}

.list-group-item:hover {
    background-color: #e6e6e6;
}

.cl-banner {
	background-color: #546E7A;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 30px;
	padding: 30px 0;
}

.row-picture, .row-content {
	display: table-cell;
	vertical-align: middle;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: top;
}

.full-height {
    height: 100%;
}

