<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Please Sign In</h3>
	</div>
	<div class="panel-body">
        <div class="row">
            <div class="col-md-2"></div>
            <p class="lead col-md-8">
                Before you can launch any appliances via this server, it is
                required to register. Registering will allow you to and monitor
                appliances you have launched as well as store your credentials
                for convenience.
            </p>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <p class="lead col-md-8">
                User registration is performed only via one of the available
                sites listed below. To register, click on a desired logo
                to proceed.
            </p>
            <div class="col-md-2"></div>
        </div>
		<div class="row">
            <div class="col-md-2 col-md-offset-2 col-sm-3 col-xs-3">
                    <a href="{{ getApiRoot() }}/accounts/facebook/login"
                        class="social-login-btn social-facebook"><i
                        class="fa fa-facebook"></i></a>
            </div>
			<div class="col-md-2 col-sm-3 col-xs-3">
					<a href="{{ getApiRoot() }}/accounts/github/login"
						class="social-login-btn social-github"><i
						class="fa fa-github"></i></a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
					<a href="{{ getApiRoot() }}/accounts/google/login"
						class="social-login-btn social-google"><i
						class="fa fa-google"></i></a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
                    <a href="{{ getApiRoot() }}/accounts/twitter/login"
                        class="social-login-btn social-twitter"><i
                        class="fa fa-twitter"></i></a>
            </div>
		</div>
	</div>
</div>
