.social-login-btn {
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
    -ms-border-radius: 5%;
    border-radius: 5%;
    float: left;
    width: 14em;
    height: 3em;
    padding: .5em;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social-login-btn:hover, .social-login-btn:active, .social-login-btn:focus,
    .social-login-btn:active:focus {
    opacity: 0.7;
    text-decoration: none;
}

.social-login-btn i {
    font-size: 18pt;
}

.social-google {
    background-color: #da573b;
    border-color: #be5238;
}

.social-twitter {
    background-color: #1daee3;
    border-color: #3997ba;
}

.social-github {
    background-color: #323233;
    border-color: #47618d;
}

.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}
