<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <p class="lead col-md-offset-1 col-md-10">
                Before you can launch any appliances via this server, you need to register. Registering will allow you to launch and monitor
                appliances you have launched as well as store your credentials
                for convenience.
            </p>
        </div>
        <div class="row">
            <p class="lead col-md-offset-1 col-md-10">
                Login or register via one of the sites listed below:
            </p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="{{ getApiRoot() }}/accounts/facebook/login"
                    class="social-login-btn social-facebook">
                    <i class="fa fa-facebook"></i> Login with Facebook
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="{{ getApiRoot() }}/accounts/github/login"
                    class="social-login-btn social-github">
                    <i class="fa fa-github"></i> Login with Github
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="{{ getApiRoot() }}/accounts/google/login"
                    class="social-login-btn social-google">
                    <i class="fa fa-google"></i> Login with Google
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="{{ getApiRoot() }}/accounts/twitter/login"
                    class="social-login-btn social-twitter">
                    <i class="fa fa-twitter"></i> Login with Twitter
                </a>
            </div>
        </div>
    </div>
</div>
