<standard-layout>
    <page-header>
        <div class="col-md-12">
            <h1>About</h1>
        </div>
    </page-header>
    <page-body>
        <div class="col-md-12 lead text-justify">
            <p>
            CloudLaunch is an extensible application that can be used to launch virtual appliances of your choice on a public or private cloud.
            A virtual appliance is a virtual machine that packages a ready-to-run application(s), eliminating the need to install and configure
            complex stacks of software. (e.g. Galaxy, Genomics Virtual Lab, SLURM)
            </p><p>
            CloudLaunch has a simple plugin system that can be extended to support additional appliances, and can target not only clouds, but potentially
            container infrastructure or any other kind of deployment platform.
            </p>
        </div>
    </page-body>
</standard-layout>