<standard-layout>
    <page-header>
        <div class="col-md-12">
            <h1>About</h1>
        </div>
    </page-header>
    <page-body>
        <div class="col-md-12 lead text-justify">
            <p>
            CloudLaunch is an extensible application that can be used to launch virtual appliances of your choice on a public or private cloud.
            A virtual appliance is a virtual machine that packages a ready-to-run application(s), eliminating the need to install and configure
            complex stacks of software. (e.g. Galaxy, Genomics Virtual Lab, SLURM)
            </p><p>
            CloudLaunch has a simple plugin system that can be extended to support additional appliances, and can target not only clouds, but potentially
            container infrastructure or any other kind of deployment platform.
            </p><p>
            CloudLaunch has been developed with contributions from the following projects:
            </p>
        </div>
        <div class="container credits">
            <div class="col-lg-6  col-md-2 col-sm-4 col-xs-12 frame">
                 <a href="https://galaxyproject.org/" target="_blank"><img src="assets/images/logo_galaxy.png"></a>
             </div>
             <div class="col-lg-6  col-md-2 col-sm-4 col-xs-12 frame">
                 <a href="https://gvl.org.au/" target="_blank"><img src="assets/images/logo_gvl.jpg"></a>
             </div>
        </div>
    </page-body>
</standard-layout>
