<!-- Begin Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CloudLaunch</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li [class.active]="isActive('Home')">
                    <a [routerLink]="['Home']">
                        <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li [class.active]="isActive('Marketplace')">
                    <a [routerLink]="['Marketplace']"><i class="fa fa-shopping-bag"></i> Marketplace <span
                            class="sr-only">(Marketplace)</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <!-- The router-outlet displays the template for the current component based on the URL -->
    <router-outlet></router-outlet>
</div>
