<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Please Sign In</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-1 social-button-column">
			     <form class="form-inline">
			         <div class="form-group">
				         <a href="/auth/github" class="btn btn-fab social-login-btn social-github"><i class="fa fa-github"></i></a>
				     </div>
                     <div class="form-group">
				         <a href="/auth/twitter" class="btn btn-fab social-login-btn social-twitter"><i class="fa fa-twitter"></i></a>
				     </div>
                     <div class="form-group">
                         <a href="/auth/google" class="btn btn-fab social-login-btn social-google"><i class="fa fa-google"></i></a>
                     </div>
                     <div class="form-group">
				         <a href="/auth/windowslive" class="btn btn-fab social-login-btn social-windows"><i class="fa fa-windows"></i></a>
				     </div>
				  </form>
			</div>
			<div class="col-md-11">
				<form>
    				<fieldset>
                        <div class="form-group label-floating is-empty">
	                        <label for="i5" class="control-label">Username</label>
	                        <input id="id_username" name="username" type="text" class="form-control input-md">
	                        <span class="material-input"></span>
	                        <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Remember Me
                                </label>
	                        </div>
                        </div>

                        <div class="form-group label-floating is-empty">
                            <label for="id_password" class="control-label">Password</label>
                            <input id="id_password" name="password" type="text" class="form-control input-md">
                            <span class="material-input"></span>
                            <a href="#">Forgot Password?</a><br />
                        </div>

                        <div class="form-group">
						<button id="singlebutton" name="singlebutton"
							class="btn btn-info pull-right">Sign In</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
