/* COMPONENT TRANSITION ANIMATIONS */

:host(.pageLoadAnimation) {
    display: inline-block;
    width: 100%;
    -webkit-transition: all ease-in 2s;
    transition: all ease-in 2s;
}

:host(.pageLoadAnimation.ng-enter) {
    animation: fadein 1s;
}

:host(.pageLoadAnimation.ng-leave) {
    animation: fadeout 1s;
}
