<clui-standard-layout>
    <page-header>
        <div class="col-md-12">
            <h1>Appliance Catalog</h1>
        </div>
        <div class="col-md-12">
            <h4>
                An online depot to discover and launch pre-configured
                software for a variety of clouds.
            </h4>
            <br />
        </div>
    </page-header>
    <page-body>
        <div class="col-md-12">
            <clui-catalog-list></clui-catalog-list>
        </div>
    </page-body>
</clui-standard-layout>
