<div>
    <div class=form [formGroup]="azureCredentialsForm">

        <!-- Azure Subscription Id -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_subscription_id" type="text"
                placeholder="What is your Azure Subscription ID?"
                formControlName="azure_subscription_id" />
                <mat-error *ngIf="subscriptionIdCtrl.hasError('required')">Subscription Id is <strong>required</strong></mat-error>
                <mat-hint>Your Azure Subscription Id can be obtained by following the instructions in the link above.</mat-hint>
            </mat-form-field>
        </div>
        <!-- Azure Client Id -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_client_id" type="text"
                placeholder="What is your Azure Client ID?"
                formControlName="azure_client_id" />
                <mat-error *ngIf="clientIdCtrl.hasError('required')">Client Id is <strong>required</strong></mat-error>
                <mat-hint>Your Azure Client Id can be obtained by following the instructions in the link above.</mat-hint>
            </mat-form-field>
        </div>
        <!-- Azure Secret -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_secret" [type]="showPassword ? 'text' : 'password'"
                    placeholder="What is your Azure secret key?"
                    formControlName="azure_secret" />
                <mat-icon matSuffix (click)="showPassword = !showPassword" matTooltip="show/hide secret key">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="secretCtrl.hasError('required')">Secret key is <strong>required</strong></mat-error>
                <mat-hint>Your Azure Secret Key can be obtained by following the instructions in the link above.</mat-hint>
            </mat-form-field>
        </div>
        <!-- Azure Tenant -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_tenant" type="text"
                placeholder="What is your Azure Tenant?"
                formControlName="azure_tenant" />
                <mat-error *ngIf="tenantCtrl.hasError('required')">Tenant is <strong>required</strong></mat-error>
                <mat-hint>Your Azure Tenant can be obtained by following the instructions in the link above.</mat-hint>
            </mat-form-field>
        </div>
        <!-- Azure Resource Group -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_resource_group" type="text"
                placeholder="Which Azure Resource Group would you like to use?"
                formControlName="azure_resource_group" />
                <mat-error *ngIf="resourceGroupCtrl.hasError('required')">Resource group is <strong>required</strong></mat-error>
                <mat-hint>A new resource group will be created if the specified group doesn't exist. You can leave the defaults as is if you're unsure.</mat-hint>
            </mat-form-field>
        </div>
        <!-- Azure Storage Account -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_storage_account" type="text"
                placeholder="Which Azure Storage Account would you like to use?"
                formControlName="azure_storage_account" />
                <mat-error *ngIf="storageAccountCtrl.hasError('required')">Storage Account is <strong>required</strong></mat-error>
                <mat-hint>A new Storage Account will be created if the specified account doesn't exist. Leaving the default name is not recommended, given that the name must be
                    unique across all existing storage account names in Azure. It must be 3 to 24 characters long, and can contain only lowercase letters and numbers.</mat-hint>
            </mat-form-field>
        </div>
        <!-- Azure VM Default User Name -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_vm_default_username" type="text"
                placeholder="Which username would you like to use as the default VM admin user?"
                formControlName="azure_vm_default_username" />
                <mat-error *ngIf="vmDefaultUserCtrl.hasError('required')">VM Default Username is <strong>required</strong></mat-error>
                <mat-hint>When launching a new virtual machine, the keypair you specify at launch will be associated with this user's account and you must use this username to ssh in. You can leave the defaults as is if you're unsure.</mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>
