<standard-layout>
    <page-header>
        <div class="col-md-12">
            <h1>Appliance Marketplace</h1>
        </div>
        <div class="col-md-12">
            <h4>
                An online depot to discover and launch pre-configured
                software for a variety of clouds.
            </h4>
        </div>
    </page-header>
    <page-body>
        <div class="col-md-12">
            <app-marketplace-list></app-marketplace-list>
        </div>
    </page-body>
</standard-layout>
