<div class="list-group">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-md-1"><p></p></th>
                <th class="col-md-4"><p> Name </p></th>
                <th class="col-md-1"><p> Created</p></th>
                <th class="col-md-2"><p> Status</p></th>
                <th class="col-md-3"><p> Access URL</p></th>
                <th class="col-md-1"><p> Actions</p></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let deploy of deployments | async; trackBy: trackByDeploymentId">
              <!-- deployments are already filtered to only unarchived, but this allows us to immediately filter items when they are archived -->
              <tr deployment-component *ngIf="!deploy.archived" [deployment]="deploy" [currentTimer]="currentTimer"></tr>
            </ng-container>
        </tbody>
    </table>
</div>
