<div class="list-group">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-md-1"><p></p></th>
                <th class="col-md-4"><p> Name </p></th>
                <th class="col-md-2"><p> Status</p></th>
                <th class="col-md-1"><p> Created</p></th>
                <th class="col-md-2"><p> Access URL</p></th>
                <th class="col-md-2"><p> Actions</p></th>
            </tr>
        </thead>
        <tbody>
            <tr class="deployment" *ngFor="let deploy of deployments | async; trackBy: trackByDeploymentId" [deployment]="deploy" [currentTimer]="currentTimer"></tr>
        </tbody>
    </table>
</div>
