<config-panel> <panel-header>Cloud Launch Settings</panel-header> <panel-body>
<div [formGroup]="form">
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

    <div *ngIf="cloudFields">

        <!-- Instance type selection -->
        <div class="form-group">
            <label for="id_instance_type" class="control-label"> What type of virtual
                hardware would you like to use? </label>
            <ng-select id="id_instance_type" [items]="instanceTypes" [disabled]="!cloud"
                [active]="getSelectedInstanceType()" (selected)="onInstanceTypeSelect($event)"
                [placeholder]="instanceTypeHelp"> </ng-select>
        </div>

        <div class="togglebutton">
            <label> <input name="toggleAdvancedOptions" type="checkbox"
                (click)="toggleAdvanced()">Advanced options
            </label>
        </div>

        <div *ngIf="showAdvanced">
            <!-- Placement selection -->
            <div class="form-group">
                <label for="id_placement" class="control-label"> In which placement zone
                    would you like to launch this appliance? </label>
                <ng-select id="id_placement" [items]="placements" [disabled]="!cloud"
                    [allowClear]="true" (selected)="onPlacementSelect($event)"
                    (removed)="onPlacementSelect(null)" [placeholder]="placementHelp"> </ng-select>
            </div>

            <!-- Key pair selection -->
            <div class="form-group">
                <label for="id_keypair" class="control-label"> Which keypair would you like
                    to use for this Virtual Machine? </label>
                <ng-select id="id_keypair" [items]="keypairs" [disabled]="!cloud"
                    (selected)="onKeyPairSelect($event)" [placeholder]="keypairsHelp"> </ng-select>
            </div>

            <!-- Network selection -->
            <div class="form-group">
                <label for="id_network" class="control-label"> In which network would you
                    like to place this Virtual Machine? </label>
                <ng-select id="id_network" [items]="networks" [disabled]="!cloud"
                    (selected)="onNetworkSelect($event)" [placeholder]="networksHelp"> </ng-select>
            </div>
            <!-- Subnet selection -->
            <div class="form-group">
                <label for="id_subnet" class="control-label"> In which subnet would you like
                    to place this Virtual Machine? </label>
                <ng-select id="id_subnet" [items]="subnets" [disabled]="!cloud"
                    (selected)="onSubNetSelect($event)" [placeholder]="subnetsHelp"> </ng-select>
            </div>

            <!-- Static IP selection -->
            <div class="form-group">
                <label for="id_floating_ip" class="control-label"> What static/floating IP
                    would you like to assign to this Virtual Machine? </label>
                <ng-select id="id_floating_ip" [items]="staticIPs" [disabled]="!cloud"
                    (selected)="onStaticIPSelect($event)" [placeholder]="staticIPHelp">
                </ng-select>
            </div>

            <!-- EBS optimized selection (AWS only) -->
            <div class="checkbox">
                <label> <input type="checkbox" id="ebs_optimized" name="ebs_optimized"
                    [formControl]="cloudLaunchForm.controls['provider_settings'].controls['ebsOptimised']" />
                    If checked, use dedicated disk bandwidth (i.e., EBS-optimized)
                </label>
            </div>

            <!-- Volume IOPS selection (AWS only) -->
            <!--  Add *ngIf="storageType=='volume'" once variable is propagated -->
            <div class="form-group">
                <label for="id_iops" class="control-label">Volume IOPS</label> <input type="number"
                    name="volume_iops" class="form-control input-md"
                    [formControl]="cloudLaunchForm.controls['provider_settings'].controls['volumeIOPS']" />
                <span class="help-block"> Min: 100; max: 20000; max 30:1 IOPS to size ratio </span>
            </div>
        </div>
    </div>
</div>
</panel-body> </config-panel>
