.cl-app-badge {
	outline: 1px solid grey;
	padding: 10px;
	cursor: pointer;
	height: 250px;
	vertical-align: middle;
}

.cl-banner {
	background-color: #546E7A;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 30px;
	padding: 30px 0;
}

.row-picture, .row-content {
	display: table-cell;
	vertical-align: middle;
}