<div>
    <form class="form" [formGroup]="openstackCredentialsForm">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">OpenStack Credentials</h3>
            </div>
            <div class="panel-body">
                <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

                <div  *ngIf="!editMode && profile?.openstack_creds">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-2"><p> Name </p></th>
                                <th class="col-md-4"><p> Username</p></th>
                                <th class="col-md-4"><p> Tenant Name</p></th>
                                <th class="col-md-1"><p> Default</p></th>
                                <th class="col-md-1"><p> Actions</p></th>
                            </tr>
                        </thead>
                    </table>                

                    <div *ngFor="let cloud_grp of groupBy(profile.openstack_creds)">
                        <div class="list-group-item active">
                            {{ cloud_grp.cloud_id }}
                        </div>
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let cred of cloud_grp.clouds">
                                    <td class="col-md-2">
                                        <p>{{ cred.name }}</p>
                                    </td>
                                    <td class="col-md-4">
                                        <p>{{ cred.username }}</p>
                                    </td>
                                    <td class="col-md-4">
                                        <p>{{ cred.tenant_name }}</p>
                                    </td>
                                    <td class="col-md-1">
                                        <div [ngSwitch]="cred.default">
                                          <p *ngSwitchCase="true" class="text-info"><i class="fa fa-check"></i></p>
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <a class="text-info" href="javascript:void(0);" (click)="editExisting(cred)" title="Edit"><i class="fa fa-edit"></i></a>
                                        &nbsp;
                                        <a class="text-info" href="javascript:void(0);" (click)="deleteCreds(cred)" title="Delete"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
    
                    </div>
                </div>                

                
                <button *ngIf="!editMode" type="button" class="btn btn-info" (click)="addNew()"><i class="fa fa-plus"></i> Add New Credentials </button>
                
                <div *ngIf="editMode">

                    <!-- Name -->
                    <div class="form-group is-empty">
                        <label for="id_name" class="control-label">Name</label> <input id="id_name"
                            name="name" type="text" class="form-control input-md" formControlName="name">
                        <span class="help-block"> A name to identify this set of credentials </span>
                        <span class="material-input"></span>
                    </div>

                    <!-- Cloud -->
                    <div class="form-group">
                        <label for="id_cloud" class="control-label">
                            Specify which cloud these credentials are for
                        </label>
                        <ng-select id="creds_cloud"
                          [items]="clouds"
                          [active]="getSelectedCloud()"
                          (selected)="onCloudSelect($event)"
                          [disabled]="isEditing()"
                          placeholder="No cloud selected">
                        </ng-select>
                    </div>

                    <!-- Username -->
                    <div class="form-group is-empty">
                        <label for="id_username" class="control-label">Username</label> <input id="id_username"
                            name="username" type="text" class="form-control input-md" formControlName="username">
                        <span class="help-block"> Your OpenStack Username </span>
                        <span class="material-input"></span>
                    </div>

                    <!-- Password -->
                    <div class="form-group is-empty">
                        <label for="id_password" class="control-label">Password</label> <input id="id_password"
                            name="password" type="text" class="form-control input-md" formControlName="password">
                        <span class="help-block"> Your OpenStack Password </span>
                        <span class="material-input"></span>
                    </div>
                    
                    <!-- Tenant name -->
                    <div class="form-group is-empty">
                        <label for="id_tenant" class="control-label">Tenant Name</label> <input id="id_tenant"
                            name="tenant_name" type="text" class="form-control input-md" formControlName="tenant_name">
                        <span class="help-block"> Your OpenStack Tenant Name </span>
                        <span class="material-input"></span>
                    </div>

                    <!-- Set Default -->
                    <div class="form-group is-empty">
                        <label for="id_default" class="control-label">Set Default</label> <input
                            id="id_default" name="default" type="checkbox" class="form-control"
                            formControlName="default">
                        <span class="help-block"> Use these credentials as the default for this cloud </span>
                        <span class="material-input"></span>
                    </div>

                    <button class="btn btn-info" (click)="cancelEdit()"><i class="fa fa-cancel"></i> Cancel </button>
                    <button class="btn btn-info" (click)="saveEdit()"><i class="fa fa-disk"></i> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>