/* Global config panel styles to make fonts proportionate */
config-panel h3 {
	font-size: 100%;
	font-weight: bold;
}

config-panel config-panel h3 {
	font-size: 75%;
}

config-panel config-panel config-panel h3 {
	font-size: 50%;
}

.panel-body {
	padding-top: 0;
}