/* Global config panel styles to make fonts proportionate */
config-panel h3 { font-size: 200%; }
config-panel config-panel h3 { font-size: 150%; }
config-panel config-panel config-panel h3 { font-size: 100%; }
