.banner-image {
	max-height: 64px;
	max-width: 256px;
}

/* COMPONENT TRANSITION ANIMATIONS */
:host {
	display: inline-block;
	width: 100%;
}

.lead {
    margin-bottom: 0px;
}

.lead-top-margin {
    margin-top: 20px;
}