<div *ngIf="application">
	<clui-standard-layout>
	    <page-header>
	        <div class="col-md-8">
		       <h2>Launching {{ application.name }} appliance</h2>
	        </div>
	        <div class="col-md-4">
		       <img class="banner-image pull-right" src="{{ application.icon_url }}" />
	        </div>
	    </page-header>
	    <page-body>
	        <div class="col-md-12">
	        	<p class="lead">
	                Fill out the form below to launch the selected appliance.
	                <i class="fa" [ngClass]="{'fa-toggle-down': !moreInfo, 'fa-toggle-up': moreInfo}" (click)="toggleInfo()"
	                 style="cursor: pointer;"></i>
	            </p>
	            <div *ngIf="moreInfo">
	                <p class="lead lead-top-margin">
	                In order to launch the selected appliance, you need to
	                choose the desired version and a target cloud. You will
	                then need to supply access credentials for that cloud.
	                A link to a page with instructions on how to obtain these
                    credentials will be shown once a cloud is selected.
	                Note that you can also save your credentials in your
	                user profile. Lastly, you have an option of selecting
	                application and cloud-specific choices.
	                </p>
	            </div>
		       <clui-appliance-detail-control [(application)]="application"></clui-appliance-detail-control>
	        </div>
	    </page-body>
	</clui-standard-layout>
</div>
