<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="list-group">
    <agm-map [zoom]="zoom" [latitude]="center_latitude" [longitude]="center_longitude" [styles]="styles">
        <agm-marker *ngFor="let svc of public_services" [latitude]="svc.location?.latitude" [longitude]="svc.location?.longitude">
            <agm-info-window>
                <div class="row list-group-item cl-app-badge" style="overflow: auto">
                    <div class="col-md-2 row-picture">
                        <img class="circle" src="{{ svc.logo }}" alt="Logo">
                    </div>
                    <div class="col-md-9 row-content col-md-offset-1">
                        <h4 class="list-group-item-heading"><a href="{{ svc.links }}" class="btn-link"> {{ svc.name }}</a></h4>
                    </div>
                    <div>
                        <p class="list-group-item-text text-muted">Location: {{ svc.location?.city }}, {{ svc.location?.country?.name }}</p>
                        <p class="list-group-item-text text-muted">Support: <a href="{{ svc.email_user_support }}" class="btn-link"> {{ svc.email_user_support }}</a></p>
                    </div>
                    <div>
                        <br />
                        <p class="list-group-item-text">{{ svc.purpose }}</p>
                    </div>
                    <div>
                        <br />
                        <p class="list-group-item-text text-muted">Quotas: {{ svc.quotas }}</p>
                    </div>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>