<div>
    <div class="form" [formGroup]="credentialsSelectionForm">

        <!-- Credential type selection: saved or temporary -->
        <div class="form-group full-width-container" [hidden]="!storedCredentials || storedCredentials.length <= 0">
            <label class="control-label"> What type of credentials do you want to use? </label>
            <mat-radio-group class="radio-group-horizontal" [formControl]="credTypeCtrl">
                <mat-radio-button [value]="credentialsType.TEMPORARY">Temporary Credentials</mat-radio-button>
                <mat-radio-button [value]="credentialsType.SAVED">Saved Credentials</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-group" [ngSwitch]="credTypeCtrl.value">
            <div class="full-width-container" *ngSwitchCase="credentialsType.SAVED">
                <mat-form-field>
                    <mat-select id="id_credentials"
                        placeholder="Select saved credentials"
                        [compareWith]="isSameCredential"
                        [disabled]="!cloud"
                        [formControl]="storedCredCtrl">
                        <mat-option *ngFor="let cred of storedCredentials" [value]="cred">
                            {{ cred.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngSwitchDefault>
                <clui-cloud-credentials-editor id="id_temp_cred_editor"
                    [cloud]="cloud"
                    [formControl]="tempCredCtrl"
                    saveIsOptional="true" (credentialsChanged)="handleTempCredChange($event)"></clui-cloud-credentials-editor>
            </ng-container>
        </div>                      

    </div>
</div>
