<div>
    <div class="form" [formGroup]="credentialsSelectionForm">

        <!-- Credential type selection: saved or temporary -->
        Credemtoal;s: {{ storedCredentials}}
        <div class="form-group" [hidden]="!storedCredentials || storedCredentials.length <= 0">
            <label class="control-label"> What type of credentials do you want to use? </label>
            <div class="radio">
                <label> <input type="radio" [formControl]="ctrl_credentials_type"  name="credential_type" [value]="credentialsType.TEMPORARY" />
                    Temporary Credentials
                </label>
                &nbsp;&nbsp;
                <label> <input type="radio" [formControl]="ctrl_credentials_type" name="credential_type" [value]="credentialsType.SAVED" />
                    Saved Credentials
                </label>
            </div>
        </div>

        <div [ngSwitch]="this.ctrl_credentials_type.value">
            <ng-container *ngSwitchCase="credentialsType.SAVED">
                <label for="id_credentials" class="control-label"> Select saved credentials</label>
                <ng-select id="id_credentials" [items]="storedCredentials"
                    [disabled]="!cloud" (selected)="onCredentialsSelect($event)"
                    [active]="getSelectedCredentials()"
                    placeholder="Select Credentials">
                </ng-select>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <cloud-credentials-editor id="id_temp_cred_editor"
                    [cloud]="cloud"
                    [(formControl)]="ctrl_temporary_credentials"
                    saveIsOptional="true" (onCredentialsChanged)="handleTempCredChange($event)"></cloud-credentials-editor>
            </ng-container>
        </div>                      

    </div>
</div>