<div>
    <div class="form" [formGroup]="gcpCredentialsForm">

        <!-- Credentials -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <textarea matInput id="id_credentials" name="credentials" formControlName="credentials" placeholder="GCP Credentials as JSON" rows="12"></textarea>
                <mat-error *ngIf="credentials.errors && credentials.errors.json">The provided credentials are not valid JSON.</mat-error>
                <mat-hint>Copy your GCP credentials json file into this field, or use the upload button above.</mat-hint>
            </mat-form-field>
        </div>
        <!-- GCP VM Default User Name -->
        <div class="form-group full-width-container">
            <mat-form-field>
                <input matInput id="id_vm_default_username" type="text"
                placeholder="Which username would you like to use as the default VM system user?"
                formControlName="vm_default_username" />
                <mat-error *ngIf="vmDefaultUserCtrl.hasError('required')">VM Default Username is <strong>required</strong></mat-error>
                <mat-hint>When launching a new virtual machine, the keypair you specify at launch will be associated with this user's account and you must use this username to ssh in. You can leave the defaults as is if you're unsure.</mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>
