<div>
    <form class="form" [ngFormModel]="awsCredentialsForm">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">AWS Credentials</h3>
            </div>
            <div class="panel-body">
                <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

                <table class="table table-striped table-hover" *ngIf="!editMode && profile?.aws_creds">
                    <thead>
                        <tr>
                            <th class="col-md-2"><p> Name </p></th>
                            <th class="col-md-2"><p> Cloud </p></th>
                            <th class="col-md-6"><p> Access Key</p></th>
                            <th class="col-md-1"><p> Default</p></th>
                            <th class="col-md-1"><p> Actions</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cred of profile?.aws_creds" (click)="editExisting(cred)">
                            <td>
                                <p>{{ cred.name }}</p>
                            </td>
                            <td>
                                <p>{{ cred.cloud.name }}</p>
                            </td>
                            <td>
                                <p>{{ cred.access_key }}</p>
                            </td>
                            <td>
                                <div [ngSwitch]="cred.default">
                                  <p *ngSwitchWhen="true" class="text-info"><i class="fa fa-check"></i></p>
                                </div>
                            </td>
                            <td>
                                <a class="text-info" href="#" (click)="editExisting(cred)" title="Edit"><i class="fa fa-edit"></i></a>
                                &nbsp;
                                <a class="text-info" href="#" (click)="delete(cred)" title="Delete"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <button *ngIf="!editMode" type="button" class="btn btn-info" (click)="addNew()"><i class="fa fa-plus"></i> Add New Credentials </button>
                
                <div *ngIf="editMode">

                    <!-- Name -->
                    <div class="form-group is-empty">
                        <label for="id_name" class="control-label">Name</label> <input id="id_name"
                            name="name" type="text" class="form-control input-md" ngControl="name">
                        <span class="help-block"> A name to identify this set of credentials </span>
                        <span class="material-input"></span>
                    </div>

                    <!-- Cloud -->
                    <div class="form-group">
                        <label for="id_cloud" class="control-label">
                            Specify which cloud these credentials are for
                        </label>
                        <ng-select id="creds_cloud"
                          [items]="clouds"
                          (selected)="onCloudSelect($event)"
                          placeholder="No cloud selected">
                        </ng-select>
                    </div>

                    <!-- Access Key -->
                    <div class="form-group is-empty">
                        <label for="id_access_key" class="control-label">Access Key</label> <input id="id_access_key"
                            name="access_key" type="text" class="form-control input-md" ngControl="access_key">
                        <span class="help-block"> Your AWS Access Key </span>
                        <span class="material-input"></span>
                    </div>

                    <!-- Secret Key -->
                    <div class="form-group is-empty">
                        <label for="id_secret_key" class="control-label">Secret Key</label> <input id="id_secret_key"
                            name="secret_key" type="text" class="form-control input-md" ngControl="secret_key">
                        <span class="help-block"> Your AWS Secret Key </span>
                        <span class="material-input"></span>
                    </div>

                    <!-- Set Default -->
                    <div class="form-group is-empty">
                        <label for="id_default" class="control-label">Set Default</label> <input
                            id="id_default" name="default" type="checkbox" class="form-control"
                            ngControl="default">
                        <span class="help-block"> Use these credentials as the default for this cloud </span>
                        <span class="material-input"></span>
                    </div>

                    <button class="btn btn-info" (click)="cancelEdit()"><i class="fa fa-cancel"></i> Cancel </button>
                    <button class="btn btn-info" (click)="saveEdit()"><i class="fa fa-disk"></i> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>