<div>
    <form class="form" [ngFormModel]="openstackCredentialsForm" (ngSubmit)="onSubmit(cmClusterForm.value)">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">OpenStack Credentials</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover" *ngIf="!editMode && profile?.openstack_creds">
                    <thead>
                        <tr>
                            <th class="col-md-2"><p> Name </p></th>
                            <th class="col-md-2"><p> Cloud </p></th>
                            <th class="col-md-4"><p> Username</p></th>
                            <th class="col-md-3"><p> Tenant Name</p></th>
                            <th class="col-md-1"><p> Default</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cred of profile?.openstack_creds">
                            <td>
                                <p>{{ cred.name }}</p>
                            </td>
                            <td>
                                <p>{{ cred.cloud.name }}</p>
                            </td>
                            <td>
                                <p>{{ cred.username }}</p>
                            </td>
                            <td>
                                <p>{{ cred.tenant_name }}</p>
                            </td>
                            <td>
                                <div [ngSwitch]="cred.default">
                                  <p *ngSwitchWhen="true" class="text-info"><i class="fa fa-check"></i></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <button type="button" class="btn btn-info" (click)="addNew()"><i class="fa fa-plus"></i> Add New Credentials </button>
            </div>
        </div>

    </form>
</div>