<clui-standard-layout>
    <page-header>
        <div class="col-md-12">
            <h1>Public Appliances</h1>
        </div>
    </page-header>
    <page-body>
        <div class="col-md-12">
            <p class="lead">
                Below is a list of public appliances that are ready for use.
                <i class="fa" [ngClass]="{'fa-toggle-down': !moreInfo, 'fa-toggle-up': moreInfo}" (click)="toggleInfo()"
                 style="cursor: pointer;"></i>
            </p>
            <div *ngIf="moreInfo">
                <p class="lead">
                    Many groups around the world have made their applications
                    publicly available to their organizations or community.
                    Here you will find a list of such applications. Although
                    these applications are publicly available, they may require
                    registration or impose usage quotas.
                </p>
                <p class="lead">
                    If you would like to have your application added here,
                    just let us know.
                </p>
            </div>
            <clui-public-appliances-list></clui-public-appliances-list>
        </div>
    </page-body>
</clui-standard-layout>
