/* You can add global styles to this file, and also import other style files */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* FOOTER */
.footer {
	background: linear-gradient(50deg, AliceBlue 17%, #e0e8ee 83%);
	height: 130px;
	position: relative;
	width: 100%;
	border-top: 1px solid #DDDDDD;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.footer p {
	margin: 0;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 10px;
	padding: 5px 0 10px;
	text-transform: uppercase;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 5px;
	color: #7F8C8D;
}

.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

.footer a {
	color: #78828D
}

/* Sticky Footer - http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -130px;
	/* the bottom margin is the negative value of the footer's height */
}

footer, .push {
	height: 130px; /* '.push' must be the same height as 'footer' */
}

/* END FOOTER */
.navbar {
	margin-bottom: 0;
}

.loading_splash {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/* Social icons: Begin */
.social-facebook {
	background-color: #4c699e;
	border: 2px solid #4c699e;
}

.social-facebook:hover {
	background-color: #47618d;
}

.social-google {
	background-color: #d34836;
	border: 2px solid #d34836;
}

.social-google:hover {
	background-color: #be5238;
}

.social-twitter {
	background-color: #1daee3;
	border: 2px solid #1daee3;
}

.social-twitter:hover {
	background-color: #3997ba;
}

.social-more {
	background-color: #B5B5B5;
	border: 2px solid #B5B5B5;
}

.social-more:hover {
	
}

.social {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	-webkit-transform: scale(1);
	/* Browser Variations: */
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

.social:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.social a i {
	font-size: 16px;
	margin: 0 0 0 0px;
	color: #EDEFF1 !important;
}

.social a:focus {
	outline: none;
}

/* Social Buttons: End */