<div>
    <div class=form [formGroup]="awsCredentialsForm">

        <!-- Access Key -->
        <div class="form-group is-empty">
            <label for="id_access_key" class="control-label">What is your Amazon Web Services access key ID?</label> <input id="id_access_key"
                name="access_key" type="text" class="form-control input-md" formControlName="access_key">
            <span class="help-block"> Your AWS Access Key can be obtained by following the instructions in the link above.</span>
            <span class="material-input"></span>
        </div>
        <!-- Secret Key -->
        <div class="form-group is-empty">
            <label for="id_secret_key" class="control-label">What is your Amazon Web Services secret key?</label> <input id="id_secret_key"
                name="secret_key" type="password" class="form-control input-md" formControlName="secret_key">
            <span class="help-block"> Your AWS Secret Key can be obtained by following the instructions in the link above.</span>
            <span class="material-input"></span>
        </div>

    </div>
</div>
