<div class="row">
    <form class="form"
        [formGroup]="applianceLaunchForm"
        (ngSubmit)="onSubmit(applianceLaunchForm.value)" autocomplete="off">
        <div class="col-md-12">
            <mat-horizontal-stepper linear="true">
                <mat-step [stepControl]="applianceLaunchForm.controls['credentials']">
                    <ng-template matStepLabel>Select Target Cloud</ng-template>
                    <div class="form-group">
                        <div class="full-width-container">
                            <mat-form-field>
                                <mat-select id="target_version"
                                    placeholder="Which version of this appliance would you like to launch?"
                                    [formControl]="appVerControl">
                                    <mat-option *ngFor="let appver of application.versions" [value]="appver">
                                        {{ appver.version }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="appVerControl?.value">
                        <div class="full-width-container">
                            <mat-form-field>
                                <mat-select id="target_cloud"
                                    placeholder="On which cloud would you like to launch your appliance?"
                                    [formControl]="targetCloudControl">
                                    <mat-option *ngFor="let cloud of getCloudsForSelectedVersion()" [value]="cloud">
                                        {{ cloud.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Credentials selection -->
                    <div class="form-group" *ngIf="targetCloudControl?.value">
                        <ng-container *ngIf="targetCloudControl.value?.access_instructions_url">
                            <div class="alert alert-info">
                                For detailed instructions on how to obtain credentials for this cloud,
                                <a target="_blank" [href]="targetCloudControl.value.access_instructions_url" class="alert-link">
                                    click here.
                                </a>
                            </div>
                        </ng-container>
                        <clui-cloud-credentials-selector id="id_cred_selector"
                            [cloud]="targetCloudControl.value"
                            [formControl]="credentialsControl">
                        </clui-cloud-credentials-selector>
                    </div>

                    <div>
                        <button mat-button matStepperNext class="btn btn-raised btn-info pull-right btn-lg"
                         [disabled]="!credentialsControl.value" type="button">
                            Next <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </mat-step>

                <mat-step [stepControl]="applianceLaunchForm">
                    <ng-template matStepLabel>Select Appliance Settings</ng-template>
                    <div class="form-group full-width-container">
                        <mat-form-field>
                            <input matInput id="id_deployment_name" type="text"
                                placeholder="Provide a name for your deployment" formControlName="name"
                                maxlength="63" pattern="[a-z0-9-]+"
                                [errorStateMatcher]="showOnDirtyErrorStateMatcher" />
                            <mat-hint>A deployment name helps you identify your appliance.
                                    The name must be at most 63 characters long and can
                                    consist of lowercase letters, numbers, and dashes.</mat-hint>
                            <mat-error *ngIf="nameControl.errors && nameControl.errors.pattern">
                                The deployment name may only consist of
                                lowercase letters, numbers, and dashes.
                            </mat-error>
                            <mat-error *ngIf="nameControl.errors && nameControl.errors.maxlength">
                                The name must be at most 63 characters long.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group" [formGroup]="appConfigForm" *ngIf="getCurrentAppCloudConfig()?.default_launch_config">
                        <clui-plugin-placeholder [initialConfig]="getCurrentAppCloudConfig()?.default_launch_config"
                            [cloud]="credentialsControl.value?.cloud"
                            [componentPath]="appVerControl.value.frontend_component_path"
                            [componentName]="appVerControl.value.frontend_component_name"></clui-plugin-placeholder>
                        <!-- Cloud launching part of the form -->
                        <clui-cloud-config-control [cloud]="credentialsControl.value?.cloud" [initialConfig]="getCurrentAppCloudConfig()?.default_launch_config"></clui-cloud-config-control>
                    </div>

                    <div>
                        <button mat-button matStepperPrevious type="button" class="btn btn-info"><i class="fa fa-chevron-left"></i> Previous</button>
                        <button mat-button matStepperNext type="submit" class="btn btn-raised btn-success pull-right btn-lg" [disabled]="submitPending || !applianceLaunchForm.valid">
                            Launch <span *ngIf="submitPending" class="fa fa-spinner fa-spin fa-fw"></span>
                        </button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Launch!</ng-template>

                    <div class="panel panel-danger" *ngIf="errorMessage">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-exclamation-sign"
                            aria-hidden="true"></span> An error occurred while launching...
                        </div>
                        <div class="panel-body">
                            <p>
                                <br />
                                The error reported by the server was:<br /><span class="text-danger"><pre>{{ errorMessage }}</pre></span>
                            </p>
                            <p>
                                Make sure that the selected options are a valid combination of settings.
                                Press the Previous button to go back and make changes.
                            </p>
                        </div>
                    </div>

                    <div style="text-align: center" *ngIf="submitPending">
                        <br /><br />
                        <mat-spinner style="left: 45%; right: 45%" class="loading_splash"></mat-spinner>
                        <h3>Launching...</h3>
                    </div>

                    <button *ngIf="errorMessage" mat-button matStepperPrevious type="button" class="btn btn-info"><i class="fa fa-chevron-left"></i> Previous</button>
                </mat-step>
            </mat-horizontal-stepper>
    	</div>
    </form>
</div>
